# Ignorar todo el contenido por defecto
*

# Excepciones: No ignorar gitignore ni README
!.gitignore
!README.md

# Permitir la carpeta user y solo sus archivos de codigo fuente
!user/
user/*
!user/*.c
!user/*.h
!user/*.S
!user/Makefile
!user/user.ld