# Ignorar todo en el repositorio
*

# No ignorar gitignore ni README
!.gitignore
!README.md

# Permitir la carpeta user, pero ignorar su contenido por defecto
!user/
user/*

# PERMITIR ÚNICAMENTE tus archivos dentro de user/
!user/sh.c
!user/mostrar.c
!user/procesos.c
!user/*.h
!user/Makefile