# Ignorar todo en el repositorio
*

# No ignorar el propio gitignore ni el README
!.gitignore
!README.md

# Ignorar todo dentro de user/ por defecto
user/*

# PERMITIR ÚNICAMENTE los archivos de tu proyecto en user/
!user/sh.c
!user/mostrar.c
!user/procesos.c
!user/*.h
!user/Makefile